@import "src/style/themes/cqdg/colors";

.dataExplorePageContent {
    width: 100%;
}

.title {
    margin: 0 !important;
}

.subTitle {
    color: $gray-7;
}

.docExternalLink {
    margin-left: 4px;
}