@import 'src/style/themes/cqdg/layout';
@import 'src/style/themes/cqdg/colors';

.variantsLayout {
  display: flex;
  height: calc(100vh - #{$main-header-height});

  .filterLoader {
    padding: 24px;
    width: 100%;
  }

  .sideMenu {
    li[role='menuitem'] {
      color: white;

      span[class$='-title-content'] {
        margin-left: 0 !important;
      }
    }
  }

  span[role='img'].sideMenuIcon {
    font-size: 20px !important;
    display: flex;
    justify-content: center;
  }

  .scrollContent {
    width: 100%;
    padding: $default-page-content-padding;
  }
}

.variantTableCellElipsis {
  max-width: 200px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: unset;
  white-space: nowrap;
}

.variantTableCell {
  min-width: 160px;
}

.dbSnpTableCell {
  min-width: 140px;
  width: 12%;
}

.userAffectedBtnCell {
  .affectedIcon {
    display: flex;
    margin: auto;
    fill: $blue-8;
    &:hover {
      cursor: pointer;
    }
  }
}

.rqdmCell {
  min-width: 100px;
}
