@import 'src/style/themes/cqdg/colors';

.participantNumLink {
  //color: $primary-color;
  text-decoration: underline;
  font-weight: bold;
}

.row {
  background-color: $gray-2;
}

.cell {
  font-weight: bold;
}
