@import 'src/style/themes/cqdg/layout';

.studiesExplorationLayout {
  display: flex;
  height: calc(100vh - #{$main-header-height});

  .scrollContent {
    width: 100%;
    padding: $default-page-content-padding;
  }
}
