.studiesExplorationLayout {
  display: flex;
  height: calc(100vh - var(--main-header-height));
}
.studiesExplorationLayout .scrollContent {
  width: 100%;
  padding: var(--default-page-content-padding);
}
