@import 'src/style/themes/cqdg/colors';

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px 0 16px 0;

  .button {
    display: flex;
    padding: 8px 16px;
    height: 48px;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: 100%;

      .alignBaseline {
        display: flex;
        align-items: baseline;
        gap: 4px;
      }

      .icon {
        font-size: 21px;
        color: $gray-9;
      }

      .count {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $gray-9;
        padding-left: 4px;
      }

      .name {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray-7;
      }
    }
  }
}
