@import "src/style/themes/cqdg/colors";
@import "src/style/themes/cqdg/layout";

.mainHeader {
  height: $main-header-height;
  background-color: $gray-1 !important;
  box-shadow: 0 0 8px 0 transparentize(#26436f, 0.75);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin-right: 10px;
  }

  .tagBeta {
    padding: 1px 8px 1px 8px;
  }

  .headerNavList {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .langButton {
    border: none;
    margin-left: 8px;
  }

  div[class$="-header-heading"] {
    width: 100%;
  }

  span[class$="-header-heading-extra"] {
    display: flex;
    align-items: center;
  }

  .headerBtn {
    border: none;
    padding: 4px 8px;
    margin: 2px 5px;

    &:hover,
    &:focus {
      background-color: $gray-3;
    }
  }

  .headerBtnActive {
    background-color: $gray-4 !important;
  }

  .icon path {
    fill: $gray-8;
  }

  .menuTrigger {
    cursor: pointer;
    color: $gray-8;
    display: flex;
    align-items: center;

    .userAvatar {
      margin: 5px 8px;
    }

    .userName {
      margin-right: 5px;
    }
  }

  .iconSvg {
    vertical-align: sub;
  }
}

.siteWideBanner {
  z-index: 1001;
}

.titleUserDropdown {
  font-size: 12px;
  color: $gray-8;
}