@import 'src/style/themes/cqdg/colors';

.footerContainer {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frqsLogo {
  height: 48px;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .footerContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
  }

  .footerContainer > :last-child {
    grid-column: 2 / span 2;
  }
}

@media (max-width: 800px) {
  .footerContainer {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
  }

  .image {
    grid-column: span 2;
  }

  .footerContainer > :nth-last-child(1) {
    grid-column: span 3;
  }

  .footerContainer > :nth-last-child(2) {
    grid-column: span 3;
  }
}
