@import 'src/style/themes/cqdg/colors';

.container {
  max-width: 1600px;
  margin-bottom: 40px;

  .collapse {
    .panel {
      .card {
        border: none;
        *[class$="-card-body"] {
          padding: 0;
        }

        .tag {
          padding: 1px 8px;
          background-color: $gray-4;
        }
      }
    }
  }
}
