.participantTabWrapper {
    display: flex;

    :global(.ant-pagination) {
        margin-bottom: 0;
    }

    .diagnosisCell, .phenotypeCell {
        min-width: 180px;
    }

    .studyIdCell {
        min-width: 85px
    }
}

.tooltip {
  border-bottom: 1px dotted;
}