@import 'src/style/themes/cqdg/theme.template';

.predictionLabel {
  margin-right: 4px;
}

.canonicalIcon {
  color: $canonical-icon-color;
}

.dotted {
  border-bottom: 1px dotted;
}

.variantTag {
  color: $variant-tag-color;
  background-color: $variant-tag-bg-color;
}

.clinvarRedTag {
  color: $color-tag-pathogenic-color;
  background-color: $color-tag-pathogenic-bg;
}

.clinvarGreenTag {
  color: $color-tag-benign-color;
  background-color: $color-tag-benign-bg;
}

.infoIcon {
  color: $gray-7;
  font-size: 12px;
}

.titleIcon {
  font-size: 24px;
}

.geneExternalLink {
  &:not(&:first-child) {
    &::before {
      content: ',';
      margin-right: 4px;
      color: $body-1;
    }
  }
}

.frequencyParticipantLink {
  padding: 0;
}
